@use '../abstracts/variables';

.heading-primary,
.heading-secondary,
.heading-tertiary{
    color: variables.$color-grey-900;
}

.heading-primary{
    font-size: variables.$fs-fluid-3;    
}

.heading-secondary{
    font-size: variables.$fs-fluid-2;    
}

.heading-tertiary{
    font-size: variables.$fs-fluid-1;    
}

.paragraph{
    line-height: 1.8;
}

.router-link{
    font-size: variables.$fs-fluid-0;    
    cursor: pointer;
    transition: color ease .3s;
    color: variables.$color-grey-800;
    font-weight: 400;

    &--active,
    &-exact-active{
        color: variables.$color-primary;
        text-decoration: none;
    }

    &--normal{
        text-decoration: none;
        color: variables.$color-grey-700;
        transition: color ease .3s;

        &:hover{
            color: variables.$color-grey-800;
        }
    }
}