@use '../abstracts/mixins';
@use '../abstracts/variables';

.hero {
  height: 70vh;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: 100%;

  &__content{
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    padding: 4rem;
  }

  &__background{
    background: url(@/assets/backgrounds/blob-haikei.svg);
    background-size: cover;
    background-position: center right;
  }

  &__meal{
    width: 50rem;
    height: 50rem;
  }
}

.recipe-header{
  height: 5rem;
  background-color: variables.$color-white;
  position: sticky;
  top: 8rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 3rem 4rem;
  z-index: 2;

  &__navbar{
    display: flex;
    gap: 5rem;
  }
}

.recipes-main{
  padding: 6rem 4rem;
}

.recipes-layout{
  columns: 3;
  column-gap: 2rem;

  & > *{
    margin-bottom: 2rem;
  }
}

.search-box{
  position: relative;

  &__results{
    width: 100%;
    top: 100%;
    content: '';
    position: absolute;
    z-index: 3;
  }
}