@use '../abstracts/variables';
@use '../abstracts/mixins';

.sign-up {
    display: grid;
    width: min(50rem, 100%);
    margin: 10rem auto;

    @include mixins.respond(tablet) {
        padding-inline: 2rem;
    }


}