@use '../abstracts/variables';

.fa-solid{
    transition: color ease .3s;

    & + a{
        padding-inline-start: 1.5rem;
    }

    &--active{
        color: variables.$color-primary;
    }

    &--normal{
        color: variables.$color-grey-700;
    }
}

.fa-brands{ color: variables.$color-grey-800; }
.fa-facebook-f{ color: #1877f2; }

.icon-md{ font-size: 2rem; }
.icon-lg{ font-size: 3rem; }