@use '../abstracts/variables';
@use '../abstracts/mixins';

.header{
    padding: 1.5rem;
    background-color: variables.$color-white;
    border-bottom: 1px solid variables.$color-grey-400;
    top: 0;
    position: sticky;
    z-index: 2;

    display: grid;
    grid-template-areas: "logo menu";
    align-items: center;
    justify-content: space-between;

    @include mixins.respond(tablet){
        grid-template-columns: auto 1fr;
    }

    &__logo{ 
        width: 4rem; 
        grid-area: logo;
    }

    &__menu{
        min-width: 20rem;
        grid-area: menu;
        background-color: variables.$color-white;
        border: 1px solid variables.$color-grey-400;
        border-radius: 8px;
        position: fixed;
        inset: 8rem 1rem auto auto;
        opacity: 0;
        transform: translateY(-1rem);
    

        &::before{
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            transform: rotate(45deg) translateY(-1.5rem);
            right: 2rem;
            border: 1px solid variables.$color-grey-400;
            background-color: variables.$color-white;
            border-bottom: none;
            border-right: none;
        }

        &--active{
            opacity: 1; 
            transform: translateY(1rem);
        }

        @include mixins.respond(tablet){
            opacity: 1;
            transform: none;
            position: static;
            min-height: auto;
            border: none;

            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr auto;
            align-items: center;

            &::before{ display: none; }
        }
    }

    &__navbar{
        display: grid;
        gap: 2rem;
        padding-block: 2rem;

        & > a.router-link{
            padding-inline: 2rem;
        }

        & > a.router-link,
        & > div > a.router-link{
            display: grid;
            grid-template-columns: 1.5rem auto;
        }

        @include mixins.respond(tablet){
            grid-auto-flow: column;
            justify-self: center;
            border: none;
            padding: 0;

            & > a.router-link{
                padding: 0;
            }
    
            & > a.router-link,
            & > div > a.router-link{
                display: grid;
                grid-template-columns: auto auto;
            }
        }
    }

    &__profile{
        min-width: 25rem;
        position: fixed;
        inset: 8rem 2rem auto auto;
        border: 1px solid variables.$color-grey-400;
        background-color: variables.$color-white;
        border-radius: 3px;

        &::before{
            content: '';
            position: absolute;
            width: 2rem;
            height: 2rem;
            transform: rotate(45deg) translateY(-1.5rem);
            right: 2rem;
            border: 1px solid variables.$color-grey-400;
            background-color: variables.$color-white;
            border-bottom: none;
            border-right: none;
        }

        &-info{
            display: flex;
            gap: 1.5rem;
            align-items: center;
            border-bottom: 1px solid variables.$color-grey-400;
            padding: 2rem;
        }
    
        &-auth-links{
            display: grid;
            gap: 2rem;
            border-top: 1px solid variables.$color-grey-400;
            padding: 2rem;

            & > a.router-link{
                display: grid;
                grid-template-columns: 1.5rem auto;
            }

            @include mixins.respond(tablet){
                border-top: none;
            }
        }

        &-picture{
            width: 4rem;
            height: 4rem;
            border-radius: 3rem;
            object-fit: cover;
            object-position: center;
        }

    }
    
    &__auth-buttons{
        padding: 2rem;
        display: grid;
        border-top: 1px solid variables.$color-grey-400;

        @include mixins.respond(tablet){
            padding: 0;
            border-top: none;
        }
    }
    
    &__icon-menu{
        align-content: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: grid;
        gap: 4px;
        height: 2rem;
        width: 2rem;
        
        &-line{
            background-color: variables.$color-grey-800;
            border-radius: 2px;
            height: 3px;
            transform-origin: left;
            transition: transform ease .3s, opacity ease .2s;
    
            &:nth-child(2){
                width: 80%;
                margin-left: auto;
            }   
        }   

        &--active{
            .header__icon-menu-line:first-child{ transform: rotate(45deg);}
            .header__icon-menu-line:nth-child(2){ opacity: 0 }    
            .header__icon-menu-line:last-child{ transform: rotate(-45deg);} 
        }
        
        @include mixins.respond(tablet){
            display: none;
        }    
    }
}

