@use '../abstracts/variables';
@use '../abstracts/mixins';

.profile{
    max-width: 120rem;
    margin: 8rem auto;
    padding: 2rem;

    &__navbar{
      // position: sticky;
      // top: 8rem;
      // z-index: 2;
      background-color: variables.$color-white;
      display: grid;
      place-items: center;
      grid-auto-flow: column;
      height: 6rem;
      border-radius: 1rem;

      & > a.router-link-exact-active{
        position: relative;

        &::before{
          content: '';
          position: absolute;
          bottom: -100%;
          width: 100%;
          height: 3px;
          background-color: variables.$color-primary;  
          border-radius: 3px;
        }
      }
    }

    &__main{
      margin-top: 4rem;
      background-color: variables.$color-white;
      border-radius: 1rem;
    }
}
